@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --accent-colour: #9e382a;
    --elements-bg: #fcf8f0;
    --border-colour: #d1af70;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: "Passion One", impact, serif;
    font-weight: 500;
    background-color: #fff;
    color: #444;
}

h1 {
    font-size: 3.5rem;
    color: var(--accent-colour);
    text-transform: uppercase;
    line-height: .8;
}

h2 {
    font-family: "Roboto Mono", courier, monospace;
    font-size: 2rem;
    color: var(--accent-colour);
    margin: 4rem 2rem;
    text-align: center;
}

h3 {
    color: var(--accent-colour);
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .05rem;
    margin-bottom: 1rem;
}

p {
    font-family: "Roboto Mono", courier, monospace;
    margin-bottom: 1rem;
}

header {
    background-color: var(--elements-bg);
    padding: 3rem 1.5rem;
    border-bottom: 2px solid var(--border-colour);
    margin-bottom: 2rem;
}

.container {
    max-width: 1200px;
}

main {
    /* padding: 1rem; */
    max-width: 1200px;
}

#filters {
    background-color: var(--elements-bg);
    border: 2px solid var(--border-colour);
    padding: 1rem;
    margin: .7rem;
    line-height: 2;
}

label {
    color: var(--accent-colour);
    font-size: 1.3rem;
    font-weight: 400;
}

select {
    margin-right: 1rem;
    padding: .5rem;
    background-color: #fff;
    border: 2px solid var(--border-colour);
    cursor: pointer;
    font-family: "Roboto Mono", courier, monospace;
}

#pieces {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 1rem; */
    margin-block: 1.5rem;
}

article {
    background-color: var(--elements-bg);
    max-width: 80ch;
    padding: 2rem;
    margin: .7rem;
    border: 2px solid var(--border-colour);
}

img {
    width: 100%;
    height: auto;
    margin-block: 2rem;
}

#video-section {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside {
    background-color: var(--elements-bg);
    min-height: 700px;
    padding: 2rem;
    margin: .7rem;
    border: 2px solid var(--border-colour);
}

footer {
    background-color: var(--elements-bg);
    padding: 1.5rem 1.5rem;
    border-top: 2px solid var(--border-colour);
    margin-top: 2rem;
}

footer h3, footer p {
    margin-bottom: 0;
}

a {
    font-family: "Roboto Mono", courier, monospace;
    font-weight: 900;
    color: var(--accent-colour);
}


@media screen and (max-width: 768px) {
    header {
        padding: 2rem 1.5rem;
    }

    h1 {
        font-size: 3.2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    #pieces {
        grid-template-columns: 1fr;
    }

    article {
        max-width: 100%;
    }
}